<div class="container">
    <div class="col-md-4 col-xs-12">
        <h1>Login</h1>
        <div class="alert alert-danger" ng-show="flash" ng-bind="flash"></div>
        <form class="form-horizontal" ng-submit="login()">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input class="form-control" type="text" id="inputUsername" placeholder="Username" ng-model="username"
                       required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input class="form-control" type="password" id="inputPassword" placeholder="Password"
                       ng-model="password" required>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>