<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-8">
            <h1 class="page-header">Photos</h1>
        </div>
        <div class="col-lg-4">
            <div class="logo">
                <img src="assets/hub.jpg" class="hub">
                <img src="assets/hills-logo.jpg" class="hills">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <b class="pull-right">Showing {{filteredImages.length}} photos</b>
        <div class="row">
            <div class="col-lg-12">
                <pagination class=""
                            ng-if="paginator.numOfPages > 1"
                            direction-links="false"
                            boundary-links="true"
                            max-size="5"
                            items-per-page="paginator.limit"
                            total-items="paginator.total"
                            ng-model="paginator.currentPage"
                            ng-change="pageChanged()">
                </pagination>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="thumbnail" ng-repeat="image in filteredImages = (images | filter:{status:mode})">
                    <i class="fa fa-check" ng-if="image.status === status.approved"></i>
                    <i class="fa fa-times" ng-if="image.status === status.rejected"></i>
                    <img class="img-responsive" ng-src="{{'assets/'+image.source+'/'+image.source_id+'.small.jpg'}}">

                    <div class="caption">
                        <h3>Source: <b>{{image.source | sourceText}}</b></h3>

                        <p>
                            <a class="btn btn-primary" ng-disabled="image.status === status.approved"
                               ng-click="changeStatus(image,status.approved)">Approve</a>
                            <a class="btn btn-danger" ng-disabled="image.status === status.rejected"
                               ng-click="changeStatus(image,status.rejected)">Reject</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
